<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Guess a Number!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-app="game">
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Guess a Number</a>
                </div>
                <div class="container">
                    <p>A game experiment combining <a href="//angularjs.org">AngularJS</a>, <a href="//clay.io">Clay.io</a> and <a href="//phonegap.com">Phonegap</a> technologies.</p>
                </div>
            </div>
        </div>

        <div class="container" ng-controller="GameCtrl">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit" ng-hide="gameState.started">
                <h1>Guess a number!</h1>
                <p>Pick a range of numbers you want to guess from, and number of your attempts. This will affect your final score.</p>
                <form>
                    <div class="control-group">
                        <label for="min" class="icon-arrow-down"></label>
                        <small ng-bind="gameState.settings.min">500</small>
                        <div class="input-prepend input-append">
                            <span class="add-on">0</span><input id="min" step="10" ng-model="gameState.settings.min" type="range" max="1000" /><span class="add-on">1000</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="max" class="icon-arrow-up"></label>
                        <small ng-bind="gameState.settings.max">500</small>
                        <div class="input-prepend input-append">
                            <span class="add-on">0</span><input id="max" step="10" ng-model="gameState.settings.max" type="range" max="1000" /><span class="add-on">1000</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="attempts" class="icon-refresh"></label>
                        <input type="text" value="10" class="input-small" ng-model="gameState.settings.attempts" />
                    </div>
                </form>
                <p><a class="btn btn-primary btn-large" ng-click="startGame()">Start Game &raquo;</a></p>
            </div>

            <div class="hero-unit" ng-show="gameState.started">
                <h1>Game on!</h1>
                <div class="container">
                    <code><small>Debug: Number to guess: <span ng-bind="gameState.number"></span>, multiplyer: <span ng-bind="gameState.multiplyer"></span></small></code>
                </div>
                <div class="container">
                    <p>You have <span ng-bind="gameState.settings.attempts - gameState.attempts"></span> attempts left. Your maximum score can be <span ng-bind="gameState.multiplyer * (gameState.settings.attempts - gameState.attempts)"></span> points!</p>
                    <p>You are guessing a number in range <span ng-bind="gameState.settings.min"></span> and <span ng-bind="gameState.settings.max"></span></p>
                </div>
            </div>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/game.js"></script>
    </body>
</html>
